.Splash {
  text-align: center;
}

.Splash-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  h1 {
    font-weight: 100;

    strong {
      font-weight: 400;
    }
  }

  p code {
    font-family: 'Roboto Mono';
  }
}
